
%section.comments.span-14
  %header
    - if @document.comments.published.count == 0
      %h4 No comments yet
    - else
      %h4
        Comments

  - base = current_user_is_editor? ? @document.comments : @document.comments.published
  - base.each do |comment|
    = render :partial => '/comments/show', :locals => {:comment => comment}

