.comments.fail.span-24

  %h2 Invalid Comment

  %p
    Sorry, we couldn't save your comment, use the back button in your browser and check you correctly entered all the fields.

  %ul
    - @comment.errors.each do |attr, msg|
      %li= msg
