
// For the Headers

header
  .adminToggle
    position: absolute
    top: 0px
    left: 0px

// Content Specific

article
  .dragHandle
    padding: 0px 8px
    background: url('/images/icons/arrow-move.png') 2px 0px no-repeat
  .dragHandle:hover
    cursor: move

// General Content

.form
  padding-bottom: 20px
  p
    margin: 0
  .errors
    color: #f00
  .advancedOptions
    font-size: 13px
    p
      margin: 0.5em 0
    label
      a
        color: blue
        font-size: 12px
  .revisions
    div
      label
        font-size: 12px

  h3, h4
    margin-bottom: 0px
    margin-top: 0.5em

li.comment
  clear: left

ul.sideActions
  position: absolute
  display: block 
  float: right
  top: 0px
  left: -115px
  width: 115px
  padding: 0px
  padding-bottom: 10px
  list-style: none
  margin: 0px
  /* border-top: 1px dotted #cccccc
  li
    display: block
    float: right 
    padding: 0px 2px
  form
    position: static
    float: none
  button, a.button
    vertical-align: middle
    line-height: 16px !important
    float: left 
    margin: 0px
    font-size: 10px
    padding: 0px 1px
    height: 20px
    img
      margin: 0px !important
      line-height: 16px
  a.button
    padding: 0px 3px
    height: 18px

ul.sideActions.forNewItems
  top: -30px

.documents.notFound
  ul
    list-style: none
    margin: 0px
    li
      float: left


.documentRevisions
  table
    font-size: 10px
