header .adminToggle {
  position: absolute;
  top: 0px;
  left: 0px; }

article .dragHandle {
  padding: 0px 8px;
  background: url('/images/icons/arrow-move.png') 2px 0px no-repeat; }
article .dragHandle:hover {
  cursor: move; }

.form {
  padding-bottom: 20px; }
  .form p {
    margin: 0; }
  .form .errors {
    color: #f00; }
  .form .advancedOptions {
    font-size: 13px; }
    .form .advancedOptions p {
      margin: 0.5em 0; }
    .form .advancedOptions label a {
      color: blue;
      font-size: 12px; }
  .form .revisions div label {
    font-size: 12px; }
  .form h3, .form h4 {
    margin-bottom: 0px;
    margin-top: 0.5em; }
  .form button.small {
    float: none;
    font-size: 10px;
    font-weight: none; }

li.comment {
  clear: left; }

ul.sideActions {
  position: absolute;
  display: block;
  float: right;
  top: 0px;
  left: -115px;
  width: 115px;
  padding: 0px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0px;
  /* border-top: 1px dotted #cccccc */ }
  ul.sideActions li {
    display: block;
    float: right;
    padding: 0px 2px; }
  ul.sideActions form {
    position: static;
    float: none; }
  ul.sideActions button, ul.sideActions a.button {
    vertical-align: middle;
    line-height: 16px !important;
    float: left;
    margin: 0px;
    font-size: 10px;
    padding: 0px 1px;
    height: 20px; }
    ul.sideActions button img, ul.sideActions a.button img {
      margin: 0px !important;
      line-height: 16px; }
  ul.sideActions a.button {
    padding: 0px 3px;
    height: 18px; }

ul.sideActions.forNewItems {
  top: -30px; }

.documents.notFound ul {
  list-style: none;
  margin: 0px; }
  .documents.notFound ul li {
    float: left; }

.documentRevisions table {
  font-size: 10px; }

.users.index th.role {
  width: 130px; }
.users.index table .form {
  padding: 0px; }
  .users.index table .form select {
    margin: 0px; }
  .users.index table .form button {
    display: inline;
    margin: 0px;
    padding: 2px 6px 2px 4px; }
