#header {
  position: relative; }
  #header .adminToggle {
    position: absolute;
    top: 0px;
    left: 0px; }

li.comment {
  clear: left; }

ul.sideActions {
  position: absolute;
  display: block;
  float: right;
  top: 0px;
  left: -110px;
  width: 110px;
  padding-bottom: 10px;
  list-style: none;
  margin: 0px;
  border-top: 1px dotted #cccccc; }
  ul.sideActions li {
    display: block;
    float: right;
    padding: 3px;
    padding-right: 8px; }
  ul.sideActions form {
    position: static;
    float: none; }
  ul.sideActions button, ul.sideActions a.button, ul.sideActions img {
    float: right;
    margin: 0px;
    font-size: 10px;
    padding: 2px 5px; }

ul.sideActions.forNewItems {
  top: -30px; }

.documents.notFound ul {
  list-style: none;
  margin: 0px; }
  .documents.notFound ul li {
    float: left; }

.documentBody .dragHandle {
  padding: 0px 8px;
  background: url('/images/icons/arrow-move.png') 2px 2px no-repeat; }
.documentBody .dragHandle:hover {
  cursor: move; }
