body {
  font-size: 13px;
  color: #333333; }

header.layout {
  height: 120px;
  font-size: 12px; }
  header.layout .userBar {
    position: absolute;
    width: 500px;
    right: 0px;
    text-align: right; }
  header.layout .adminToggle {
    position: absolute;
    width: 300px;
    left: 0px; }
  header.layout h1 {
    padding-top: 40px;
    font-weight: bold;
    font-size: 40px; }
    header.layout h1 a {
      text-decoration: none; }

footer.layout {
  padding-top: 40px;
  text-align: right; }

#content .comments .highlighted {
  background: #eee; }
#content .comments .notPublished {
  border: 1px dashed red; }
#content .comments article {
  margin-bottom: 10px; }
#content .comments.form form p {
  margin: 0px; }
#content .comments.form form label {
  font-weight: bold;
  font-size: 13px; }
#content .comments.form form textarea {
  height: 150px; }
#content article.collectionItem h3 {
  margin-bottom: 0px; }
