body {
  font-size: 13px;
  color: #333333; }

header.layout {
  height: 120px;
  font-size: 12px; }
  header.layout .userBar {
    text-align: right; }
  header.layout h1 {
    padding-top: 40px;
    font-weight: bold;
    font-size: 40px; }
    header.layout h1 a {
      text-decoration: none; }

#content .comments ul {
  list-style: none;
  margin: 0px; }
#content .comments.form form p {
  margin: 0px; }
#content .comments.form form label {
  font-weight: bold;
  font-size: 13px; }
#content .comments.form form textarea {
  height: 150px; }
#content article.collectionItem h3 {
  margin-bottom: 0px; }
