body {
  font-size: 13px;
  color: #333333; }

#header {
  height: 120px;
  font-size: 12px; }
  #header .userBar {
    text-align: right; }
  #header h1 {
    padding-top: 40px;
    font-weight: bold;
    font-size: 40px; }
    #header h1 a {
      text-decoration: none; }

.content .comments ul {
  list-style: none;
  margin: 0px; }
.content .comments.form form p {
  margin: 0px; }
.content .comments.form form label {
  font-weight: bold;
  font-size: 13px; }
.content .comments.form form textarea {
  height: 150px; }
.content .documentBody, .content .commentBody {
  position: relative; }
