header, footer, section, article, aside, nav {
  position: relative;
  display: block; }
  header a.strike, footer a.strike, section a.strike, article a.strike, aside a.strike, nav a.strike {
    text-decoration: line-through; }

footer {
  clear: both; }

.ui-dialog {
  font-size: 10px; }

#dialog {
  font-size: 12px; }
  #dialog .documents.index table {
    font-size: 10px; }

.hidden {
  display: none; }

span.spinner {
  display: block;
  width: 30px;
  height: 30px;
  background: url('/images/spinner-large.gif') 0px 0px no-repeat; }
