
- form_for document, :html => {:class => 'documentSaveForm'} do |f|

  = render :partial => "documents/layouts/#{document.layout}/form", :locals => {:f => f}

  .span-4.last.formOptions
    %button{:type => 'submit'} Save
