.document.edit
  - form_for document, :html => {:class => 'documentSaveForm'} do |f|

    = render_partial_from_theme "documents/#{document.layout}/form", :locals => {:f => f, :document => document}

    .span-4.last.formOptions
      %button{:type => 'submit'} Save
