.sideBarEntry.span-6{:id => "document_#{document.id}"}

  .documentBody
    %h4.handle= document.title

    - unless document.content.blank?
      %p.content
        = text_filter(document.content)

    = render :partial => 'actions', :locals => {:document => document}
