.collectionItem.draggableItem.span-14{:class => document.published? ? 'published' : 'notPublished', :id => "document_#{document.id}"}
  .documentBody
    .content
      :textile
        #{document.content}

    = render :partial => 'actions', :locals => {:document => document, :draggable => true}
