%article.collectionItem.span-14{:class => document.published? ? 'published' : 'notPublished', :id => "document_#{document.id}"}
  .content
    :textile
      #{textile_wiki_filter(document.content)}

  = document_actions document, :draggable => true 
