.sideBarEntry.span-6{:id => "document_#{document.id}"}

  .documentBody
    %h4
      - if current_user_is_editor? && (@document == document || document.parent_id == @document.id)
        %span.dragHandle &nbsp;
      = document.title

    - unless document.content.blank?
      %p.content
        :textile
          #{document.content}

    = render :partial => 'actions', :locals => {:document => document}
