%article.sideBarEntry.span-6{:id => "document_#{document.id}", :class => document.published? ? '' : 'notPublished'}
  %p.content
    :textile
      #{textile_wiki_filter(document.content)}

  = document_actions document, :draggable => true

