%article.sideBarEntry.draggableItem.span-6{:id => "document_#{document.id}"}
  %p.content
    :textile
      #{textile_wiki_filter(document.content)}

  = render :partial => 'actions', :locals => {:document => document, :draggable => true}

