%article.sideBarEntry.draggableItem.span-6{:id => "document_#{document.id}"}
  %p.content
    :textile
      #{document.content}

  = render :partial => 'actions', :locals => {:document => document, :draggable => true}

