.span-22
  %section.documents.notFound

    %h2
      Document Not Found
    
    - if current_user_is_admin?
      -# Add links to create new types of document here
      %p
        This page does not exist, choose an action if you'd like to create it.
      %ul
        %li= link_to 'Create a page', new_document_url(:slug => params[:id], :layout => 'page'), :class => 'button documentFormAction', :title => "Create a new basic page"
        %li= link_to 'Create a blog', new_document_url(:slug => params[:id], :layout => 'blog'), :class => 'button documentFormAction', :title => "Create a new blog"
        %li= link_to 'Create a collection', new_document_url(:slug => params[:id], :layout => 'collection'), :class => 'button documentFormAction', :title => "Create a collection of items"

